.country-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}
.country-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media (max-width: 1024px) {
    .country-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .country-container {
        grid-template-columns: 1fr;
    }
}
.visited{
    color: black;
    background-color: lightgreen;
}
